.project-container {
  @apply flex flex-row w-full h-screen p-4;
}

.project-box {
  @apply h-16 w-60 m-2 bg-cover bg-center rounded-lg shadow-lg text-xl z-20 font-semibold;
  background-size: cover; 
  background-position: center; 
}

.project-gtfo {
  @apply text-slate-200;
  background-image: url('../../assets/gtfo_bg.jpg'); 
}

.project-discordbot {
  @apply text-gray-950;
  background-image: url('../../assets/discord_bg.jpg'); 
}

.project-link {
  @apply block p-4 border rounded-lg shadow-lg hover:bg-gray-300 hover:text-slate-800
}

.project-title {
  @apply flex items-center justify-center h-full;
}