:root {
  --primary-color: #0c0c0c;
  --secondary-color: #1c1c1c;
  --tertiary-color: #333333;
  --quaternary-color: #4a4a4a;
  --quinary-color: #f0f0f0;
  --contrast-color: #ffd700;
  font-family: "Space Mono", monospace;
}

html {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
